<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testngpackage" parallel="methods">
	<!--    <test name="testngTest">-->
	<!--        <classes>-->
	<!--            <class name="rest.client.proj.EmailReport"/>-->
	<!--        </classes>-->
	<!--    </test>-->
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="sanity">
		<classes>
			<class name="app.absproj.api.NegativeEmailTests" />
			<class name="app.petstore.api.CreatePetTests" />
			<class name="app.petstore.api.UpdatePetTests" />
			<class name="app.petstore.api.UserTests" />
			<class name="app.petstore.api.StoreTests" />
			<class name="app.petstore.user.ui.UserTests" />
		</classes>
	</test>
</suite>
