<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testngpackage" parallel="methods">
<!--    <test name="testngTest">-->
<!--        <classes>-->
<!--            <class name="rest.client.proj.EmailReport"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name = "sanity">
        <classes>
            <class name="API.petStore.CreatePetTests"/>
            <class name="API.petStore.UpdatePetTests"/>
            <class name="API.petStore.UserTests"/>
            <class name="API.petStore.StoreTests"/>
        </classes>
    </test>
</suite>